{
  "presets": [
    "es2015-node6/object-rest",
    "stage-0"
  ],
  "plugins": [
    // ["annotate-console-log", {"scriptPath": true}],
    ["transform-export-default-name", {}]
  ],
  "sourceMaps": true,
  // "retainLines": true,
  "env": {
    "test": { "plugins": [ "rewire" ] }
  }
}
